# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
env/
venv/
.venv/
.env

# Ignore testing or temporary files
testing.py
*.log
*.tmp
*.bak

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore distribution/build artifacts
build/
dist/
*.egg-info/
.eggs/
Lib/
Include/
Scripts/
pyvenv.cfg

# Ignore system files
.DS_Store
Thumbs.db